doctype html
html(lang="pt-BR")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Mateus Schverz - Portfólio
    style.
      body {
          font-family: Arial, sans-serif;
          display: flex;
          justify-content: center;
          margin: 0;
          padding: 0;
          font-size:1.14em;
      }
      .container {
          width: 96%;
      }
      h1, h2, h3 {
          margin: 0;
          padding: 10px 0;
      }
      h3::before {
          content: "| ";
      }
      ul {
          margin: 10px 0;
          padding-left: 20px;
      }
      p, ul, li {
          margin: 5px 0;
      }
      img {
          display: block;
          margin: auto;
      }
      .contacts {
          display: grid;
          grid-template-columns: 1fr auto;
          gap: 10px;
          align-items: center;
      }
      img{
        width: 250px;
      }
  body
    .container
      h1(style="text-align: center;") Mateus Schverz
      h2 Contatos
      .contacts
        div
          p
            strong LinkedIn:
            a(href="https://www.linkedin.com/in/mateus-schverz" target="_blank") linkedin.com/in/mateus-schverz
          p
            strong E-mail:
            | matefs8569@gmail.com
          p
            strong Telefone:
            | (49) 93300-4644
          p
            strong GitHub:
            a(href="https://github.com/matefs" target="_blank") github.com/matefs
          p
            strong Localidade:
            | Concórdia, Santa Catarina
          p
            strong Estado Civil:
            | Solteiro
          p
            strong Empregado atualmente:
            | Sim
        div
          img(src="https://avatars.githubusercontent.com/matefs" alt="Foto de Mateus Schverz")
      h2 Resumo
      p Sou um profissional com experiência full stack, com proficiência em JavaScript, Node.js e Python. Iniciei minha trajetória como Analista de Teste/QA, onde desenvolvi uma base sólida em testes de qualidade e garantia de software. Hoje, como Desenvolvedor Full Stack na Raster Gerenciamento de Risco, aplico meu conhecimento em tecnologias como PostgreSQL, Python (Django) e JavaScript (Adonis.js) para criar soluções eficientes e escaláveis que impulsionam o sucesso da equipe e da empresa.
      h2 Experiência Profissional
      h3 Raster Gerenciamento de Risco
      p
        strong Desenvolvedor Full Stack
        |  -
        em Novembro 2023 - Presente
      p Trabalho com Devextreme, pdfmake, PostgreSQL, PL/pgSQL, Django, Django Ninja, RabbitMQ e Adonis.js, desenvolvendo soluções robustas e escaláveis para a empresa.
      ul
        li Trabalhei com AWS S3, aumentando o cadastro em 20% dos registros de motoristas.
      p
        strong Analista de Teste/QA
        |  -
        em Janeiro 2023 - Abril 2024
      p Realizei testes de qualidade utilizando SQL, PostgreSQL, Microsoft SQL Server, Postman, RabbitMQ, REST APIs, Cypress, Bitbucket, Leaflet.js, Openstreetmaps e Sequelize.js.
      h3 Jumper Cursos
      p
        strong Professor de Informática
        |  -
        em Outubro 2021 - Março 2023
      p Ministrei aulas de programação e desenvolvimento de software, abordando linguagens como Python, Java e HTML/CSS.
      ul
        li Desenvolvi materiais didáticos e projetos práticos, incentivando a aplicação de conceitos de lógica de programação e desenvolvimento web.
      h3 Gdoor Zucchetti
      p
        strong Testes de Software
        |  -
        em Janeiro 2020 - Abril 2021
      p Realizei testes de software com Firebird SQL, IBExpert, e trabalhei com emissão de notas fiscais, NFC-e, NFE, XML, Ponto de Venda (PDV), e tecnologias como VMware, WordPress e Delphi básico.
      h2 Formação Acadêmica
      h3 UNOPAR
      p Curso Superior de Tecnologia (CST), Análise de Sistemas de Computação
      h3 E. E. B Olavo Cecco Rigon
      p Curso Técnico Integrado, Tecnologia da Informação
      h2 Idiomas
      p
        strong Português:
        |  Nativo
      p
        strong Inglês:
        |  Intermediário avançado (B2)
      h2 Projetos Online
      ul
        li
          a(href="https://github.com/matefs/Free-gpt-api-no-key-needed" target="_blank") API de inteligência artificial gratuita
        li
          a(href="https://github.com/matefs/socket-messaging-fullstack" target="_blank") Chat em tempo real com socket.io
        li
          a(href="https://github.com/matefs/Bitcoin-Price-Monitoring-Telegram-Bot" target="_blank") Bot de investimentos via Telegram
